* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(./img/bg-map.png);
  background-position:center;
  background-size: cover;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  background-color: #fff;
  padding: 0px 30px;
  height: 8vh;
  color: #011F39;
  font-weight: bolder;
  border-radius: 6px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25)
}

header h1{
  font-size: 2vw;
  padding-left: 1vw;
}

button{
  cursor: pointer;
  color: #fff;
  background-color: #011F39;
  text-align: center;
  padding: 0.5vw 2vw;
  font-size: 1vw;
  border-radius: 5px;
  font-weight: bold;
}

button:hover{
  background-color: #015eb1;
  border-color: #015eb1;
  transition: 0.3s ease-in;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  margin-top: 2%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box {
  width: 100%;
}

.map-content{
  display: flex;
  flex-direction: column;
  padding-top: 1vw;
}

.map-and-events{
  height: 65vh;
  width: 100%;
  display: flex;
  position: relative;
}


#map {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  position: absolute; 
  z-index: 1;
}

.event-list{
  width: 30%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 1vw;
  overflow: scroll;
}

.event-list.hide{
  max-height: 0;
  pointer-events: none;
}

.event-card{
  display: flex;
  margin-top: 1rem;
  width: 90%;
  height: auto;
  background-color: #011F39;
  color: #fff;
  border-radius: 0.5vw;
  font-size: 1vw;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.icon-event-list img{
  width: 2vw;
}

.event-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.event-desc{
  overflow:calc();
  height: auto;
  margin-bottom: 1vw;
}

.event-local{
  margin-top: 1vw;
}

#go-to-event{
  font-size: 1vw;
  display: flex;
  justify-content: center;
  width: 4rem;
  height: 2rem;
  font-weight: bold;
  color: #011F39;
  background-color: #fff;
  border-color: #fff;
}

#go-to-event:hover{
  background-color: #c2f1ff;
  border-color: #c2f1ff;
  transition: 0.3s ease-in;
}



.form-content{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7vh;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgb(117, 117, 117);
}

.form-content input{
  padding: 6px 12px;
  margin-left: 1vw;
  width: 70%;
  height: 5vh;
  font-size: 1vw;
}

.form-content input::placeholder{
  padding-left: 2px;
}

#save-event{
  width: 15vw;
}

#show-event{
  width: 35vw;
  align-self:flex-end;
  margin-top: 1vw;
  padding: 5px 10vw;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}